body {
        padding : 0;
        margin: 0;
}

#control-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ccc;
    opacity: 0.5;
    width: 150px;
    height: 50px;

    margin-top: 10px;
    font-family : arial;
    font-size: 36px;
}